<div class="views-element-container block block-views block-views-blockget-connected-block-1">
  <div>
    <div class="view view-get-connected view-id-get_connected view-display-id-block_1 js-view-dom-id-ac2d704a3424f97b954fc9e3f6fa8491ed709c13e3274b812ce6f73b0d26ff93">
      <div class="view-content">
        <div class="views-view-grid horizontal cols-4 clearfix">
          <div class="views-row clearfix row-1">
            <div class="views-col col-1" style="width: 25%;">
              <div class="views-field views-field-field-image">
                <div class="field-content">
                </div>
              </div>
              <div class="views-field views-field-body">
                <div class="field-content">
                  <h2><strong>GET</strong></h2>
                  <h2><strong>CONNECTED</strong></h2>
                </div>
              </div>
              <span class="views-field views-field-field-additional-info"><span class="field-content">
              </span></span>        <span class="views-field views-field-field-contact"><span class="field-content">
              </span></span>
              <div class="views-field views-field-field-social socialicons">
                <div class="field-content">
                  <div class="item-list">
                    <ul>
                      <li><a href="https://www.facebook.com/ReadingAreaCommunityCollege" target="_blank" class="fa fa-facebook">.</a></li>
                      <li><a href="https://twitter.com/racc_edu" target="_blank" class="fa fa-twitter">.</a></li>
                      <li><a href="https://www.youtube.com/user/RACCvideopage" target="_blank" class="fa fa-youtube">.</a></li>
                      <li><a href="https://www.linkedin.com/edu/school?id=32213" target="_blank" class="fa fa-linkedin">.</a></li>
                      <li><a href="https://www.snapchat.com/add/racc_edu" target="_blank" class="fa fa-google-plus">.</a></li>
                      <li><a href="https://www.instagram.com/RACC_edu/" target="_blank" class="fa fa-instagram">.</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="views-col col-2" style="width: 25%;">
              <div class="views-field views-field-field-image">
                <div class="field-content">
                  <a href="{{ instagramurlpost[0] }}">
                  <img src="{{ instagramurl[0] }}" alt="back" typeof="foaf:Image" class="image-style-get-connected" width="337" height="337">
                  <div class="gradient"></div>
                  </a>
                </div>
              </div>
              <div class="views-field views-field-body">
                <div class="field-content">
                </div>
              </div>
              <span class="views-field views-field-field-additional-info"><span class="fa fa-instagram">
              ins
              </span></span>        <span class="views-field views-field-field-contact"><span class="field-content" id="insttext">
              @racc_edu
              </span></span>
              <div class="views-field views-field-field-social socialicons">
                <div class="field-content">
                </div>
              </div>
            </div>
            <div class="views-col col-3" style="width: 25%;">
              <div class="views-field views-field-field-image">
                <div class="field-content">
                  <a href="{{ 'https://twitter.com/statuses/' ~ twitterurl[0] }}">
                    <div class="image-style-get-connected">
                    </div>
                  </a>
                </div>
              </div>
              <div class="views-field views-field-body">
                <div class="field-content">
                  <p>{{ twittertext[0] }}</p>
                </div>
              </div>
              <span class="views-field views-field-field-additional-info"><span class="fa fa-twitter">
              tw
              </span></span>        <span class="views-field views-field-field-contact"><span class="field-content" id="twtext">
              @{{ twitteruser[0] }}
              </span></span>
              <div class="views-field views-field-field-social socialicons">
                <div class="field-content">
                </div>
              </div>
            </div>
            <div class="views-col col-4" style="width: 25%;">
              <div class="views-field views-field-field-image">
                <div class="field-content">
                  <a href="{{ facebookurl[2] }}">
                  <img src="{{ facebookimage[2] }}" alt="fries" typeof="foaf:Image" class="image-style-get-connected" width="337" height="337">
                  <p id='facebooktext'>{{ facebooktext[2] }}</p>
                  <div class="gradient"></div>
                  </a>
                </div>
              </div>
              <div class="views-field views-field-body">
                <div class="field-content">
                </div>
              </div>
              <span class="views-field views-field-field-additional-info"><span class="fa fa-facebook">
              fb
              </span></span>        <span class="views-field views-field-field-contact"><span class="field-content" id="insttext">
              @RACC_edu
              </span></span>
              <div class="views-field views-field-field-social socialicons">
                <div class="field-content">
                </div>
              </div>
            </div>
          </div>
          <div class="views-row clearfix row-2">
            <div class="views-col col-1" style="width: 25%;">
              <div class="views-field views-field-field-image">
                <div class="field-content">
                  <a href="{{ facebookurl[3] }}">
                  <img src="{{ facebookimage[3] }}" alt="stairs" typeof="foaf:Image" class="image-style-get-connected" width="337" height="337">
                  <p id='facebooktext'>{{ facebooktext[3] }}</p>
                  <div class="gradient"></div>
                  </a>
                </div>
              </div>
              <div class="views-field views-field-body">
                <div class="field-content">
                </div>
              </div>
              <span class="views-field views-field-field-additional-info"><span class="fa fa-facebook">
              fb
              </span></span>        <span class="views-field views-field-field-contact"><span class="field-content" id="insttext">
              @RACC_edu
              </span></span>
              <div class="views-field views-field-field-social socialicons">
                <div class="field-content">
                </div>
              </div>
            </div>
            <div class="views-col col-2" style="width: 25%;">
              <div class="views-field views-field-field-image">
                <div class="field-content">
                  <a href="{{ 'https://twitter.com/statuses/' ~ twitterurl[1] }}">
                    <div class="image-style-get-connected">
                    </div>
                  </a>
                </div>
              </div>
              <div class="views-field views-field-body">
                <div class="field-content">
                  <p>{{ twittertext[1] }}</p>
                </div>
              </div>
              <span class="views-field views-field-field-additional-info"><span class="fa fa-twitter">
              tw
              </span></span>        <span class="views-field views-field-field-contact"><span class="field-content" id="twtext">
              @{{ twitteruser[1] }}
              </span></span>
              <div class="views-field views-field-field-social socialicons">
                <div class="field-content">
                </div>
              </div>
            </div>
            <div class="views-col col-3" style="width: 25%;">
              <div class="views-field views-field-field-image">
                <div class="field-content">
                  <a href="{{ instagramurlpost[1] }}">
                  <img src="{{ instagramurl[1] }}" alt="RACC" typeof="foaf:Image" class="image-style-get-connected" width="337" height="337">
                  <div class="gradient"></div>
                  </a>
                </div>
              </div>
              <div class="views-field views-field-body">
                <div class="field-content">
                </div>
              </div>
              <span class="views-field views-field-field-additional-info"><span class="fa fa-instagram">
              ins
              </span></span>        <span class="views-field views-field-field-contact"><span class="field-content" id="insttext">
              @racc_edu
              </span></span>
              <div class="views-field views-field-field-social socialicons">
                <div class="field-content">
                </div>
              </div>
            </div>
            <div class="views-col col-4" style="width: 25%;">
              <div class="views-field views-field-field-image">
                <div class="field-content">
                  <a href="{{ 'https://twitter.com/statuses/' ~ twitterurl[2] }}">
                    <div class="image-style-get-connected">
                    </div>
                  </a>
                </div>
              </div>
              <div class="views-field views-field-body">
                <div class="field-content">
                  <p>{{ twittertext[2] }}</p>
                </div>
              </div>
              <span class="views-field views-field-field-additional-info"><span class="fa fa-twitter">
              tw
              </span></span>        <span class="views-field views-field-field-contact"><span class="field-content" id="twtext">
              @{{ twitteruser[2] }}
              </span></span>
              <div class="views-field views-field-field-social socialicons">
                <div class="field-content">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
