<div class="page-wrapper">

  <header class="main-header" role="banner">

    <div class="logo-header">
      {{ page.header }}
    </div>

    <div id="main-menu" class="main-menu">

      <div class="top-menu">
        {{ page.top_menu }}
      </div>

      <div class="primary-menu">
        {{ page.primary_menu }}
      </div>

    </div>

  </header>


  <div class="container">

    {% if page.banner_top %}
      <div class="layout-banner-top" role="banner">
        {{ page.banner_top }}
      </div>
    {% endif %}

    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      {% if page.sidebar %}
        <div id="sidebar-first" class="column sidebar">
          <aside class="section" role="complementary">
            {{ page.sidebar }}
          </aside>
        </div>
      {% endif %}

      <div class="layout-content">
        {{ page.content }}

      </div>{# /.layout-content #}

    </main>


    {% if page.footer %}
      <footer role="contentinfo">
        {{ page.footer }}
      </footer>
    {% endif %}

  </div>{# /.layout-container #}

</div>
